# OS generated junk #
#####################
.DS_Store*
.~lock*
.vscode
ehthumbs.db
Icon?
Thumbs.db

# Backup files #
################
*.bak
*.new
*.old
*.orig
*.save
*~

# Compiled code and libs #
##########################
*.class
*.com
*.dll
*.exe
*.lib
*.o
*.so

# Packages and archives #
#########################
*.7z
*.arc
*.arj
*.bz2
*.deb
*.dmg
*.gz
*.iso
*.jar
*.lha
*.rar
*.rpm
*.tar
*.tbz
*.tbz2
*.tgz
*.uc4
*.xz
*.zip

# Logs and databases #
######################
*.log
*.mysql
*.pgsql
*.sql
*.sqlite
